<html>
<head>
    <meta charset="utf-8" />
    <title>藏地神韵---2016端午节黄龙九寨沟游记_九寨沟旅游攻略_百度旅游</title>
    
    <link href="../../Content/css/common/common-widget.css" rel="stylesheet" />
    <link href="../../Content/css/common/view-header.css" rel="stylesheet" />
    <link href="../../Content/css/common/public-side-toolbar.css" rel="stylesheet" />
    <link href="../../Content/css/common/view-csscore.css" rel="stylesheet" />
    <style>
        .header-iconfont {
            font-family: "header-iconfont" !important;
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>

</head>
<body class="theme-new-blue">
    <div id="bdshare_s" style="display: block;">
        <iframe id="bdsIfr" style="position: absolute; display: none; z-index: 9999;" frameborder="0"></iframe>
        <div id="bdshare_l" style="display: none;">
            <div id="bdshare_l_c">
                <h6>分享到</h6>
                <ul>
                    <li><a href="#" class="bds_mshare mshare">一键分享</a></li>
                    <li><a href="#" class="bds_qzone qqkj">QQ空间</a></li>
                    <li><a href="#" class="bds_tsina xlwb">新浪微博</a></li>
                    <li><a href="#" class="bds_bdysc bdysc">百度云收藏</a></li>
                    <li><a href="#" class="bds_renren rrw">人人网</a></li>
                    <li><a href="#" class="bds_tqq txwb">腾讯微博</a></li>
                    <li><a href="#" class="bds_bdxc bdxc">百度相册</a></li>
                    <li><a href="#" class="bds_kaixin001 kxw">开心网</a></li>
                    <li><a href="#" class="bds_tqf txpy">腾讯朋友</a></li>
                    <li><a href="#" class="bds_tieba bdtb">百度贴吧</a></li>
                    <li><a href="#" class="bds_douban db">豆瓣网</a></li>
                    <li><a href="#" class="bds_tsohu shwb">搜狐微博</a></li>
                    <li><a href="#" class="bds_bdhome bdhome">百度新首页</a></li>
                    <li><a href="#" class="bds_sqq sqq">QQ好友</a></li>
                    <li><a href="#" class="bds_thx thx">和讯微博</a></li>
                    <li><a href="#" class="bds_more">更多...</a></li>
                </ul>
                <p><a href="#" class="goWebsite">百度分享</a></p>
            </div>
        </div>
    </div>
    <section id="page">
        <header id="header" class="header header-notes clearfix nslog-area ad-width" data-nslog="{&quot;type&quot;:100,&quot;cmd&quot;:&quot;click&quot;,&quot;pos&quot;:&quot;page-header-click&quot;}" style="display: ;">
            <div class="header-wrapper clearfix" id="J_header-wrapper">
                <div class="top-bar">
                    <div class="top-bar-wrapper">
                        <div id="J_user-bar" class="user-bar clearfix">
                            <span class="item"><a href="https://passport.baidu.com/v2/?reg&amp;tpl=lv&amp;regType=1&amp;u=/notes/c83d98bc2d0992ad52baf3cb%3F">注册</a></span>
                            <span class="item"><a id="J_login-link" data-url="https://passport.baidu.com/v2/?login&amp;tpl=lv&amp;tpl_reg=lv" href="https://passport.baidu.com/v2/?login&amp;tpl=lv&amp;tpl_reg=lv&amp;u=/notes/c83d98bc2d0992ad52baf3cb%3F" class="user-bar-login-link">登录</a></span>
                        </div>
                    </div>
                </div>
                <h1 class="logo"><a id="logo" href="/" title="百度旅游" style="background: url(https://gss0.bdstatic.com/5fo3dSag_xI4khGko9WTAnF6hhy/baidu/pic/item/b58f8c5494eef01fc418b95ae3fe9925bc317d25.png) no-repeat 0 0; _background: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/baidu/pic/item/a08b87d6277f9e2f873abc971c30e924b899f326.png) no-repeat 0 0"></a></h1>
                <div class="search-area" id="J-search-area">
                    <form class="search-form clearfix" name="search-form" method="get" action="/search">
                        <a href="###" class="switch-query-type-btn" id="J-switchQueryBtn" data-index="0">目的地<i class="search-line">|</i>游记<b></b></a>
                        <ul id="J_search-type" class="search-type hide">
                            <li class="search-type-selectd" data-index="0">目的地<i class="search-line">|</i>游记</li>
                            <li data-index="1">找人</li>
                        </ul>
                        <input name="word" class="search-word search-word-empty search-query nslog" data-nslog="{'type':100,'cmd':'click','pos':'search-click'}" type="text" maxlength="256" id="tangram-suggestion--TANGRAM$27-input" autocomplete="off">
                        <input name="word" class="search-word search-user nslog search-word-empty" data-nslog="{'type':100,'cmd':'click','pos':'search-click'}" type="text" maxlength="256" disabled="disabled" style="display: none">
                        <input type="hidden" name="fr" value="new">
                        <input type="hidden" value="1" name="form">
                        <button type="submit" class="search-btn header-iconfont nslog" data-nslog="{'type':100,'cmd':'click','pos':'other-search'}"></button>
                    </form>
                </div>
            </div>
            <nav class="nav-channel">
                <div class="nav-wrapper">
                    <div class="nav-channel-list nav-type-traditional clearfix" id="J_nav-channel">
                        <div class="nav-list-wrapper ">
                            <ul class="nav-list">
                                <li class="nav-item  ">
                                    <a href="/" class="nav-link">
                                        <span class="nav-text"><span>首页</span></span>
                                    </a>
                                </li>
                                <li class="nav-item  nav-item-haslist">
                                    <a href="javascript:void(0)" class="nav-link">
                                        <span class="nav-text"><span>目的地攻略</span><b class="header-iconfont ico-arrow"></b></span>
                                    </a>
                                    <ul>
                                        <li class="nav-item ">
                                            <a href="/scene/" class="nav-link">
                                                <span class="nav-text">目的地</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="/guide/" class="nav-link">
                                                <span class="nav-text">攻略下载</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/plan/counselor" class="nav-link">
                                        <span class="nav-text"><span>行程计划</span></span>
                                        <i class="nav-icon-hot"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-list-wrapper ">
                            <ul class="nav-list">
                                <li class="nav-item current ">
                                    <a href="/notes/" class="nav-link">
                                        <span class="nav-text"><span>游记</span></span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/pictravel/" class="nav-link">
                                        <span class="nav-text"><span>画册</span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-list-wrapper ">
                            <ul class="nav-list">
                                <li class="nav-item  ">
                                    <a href="/event/s/redirect/xiechengjipiao.html" class="nav-link" target="_blank">
                                        <span class="nav-text"><span>机票</span></span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/event/s/redirect/xiechengjiudian.html" class="nav-link" target="_blank">
                                        <span class="nav-text"><span>酒店</span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-list-wrapper nav-list-wrapper-last">
                            <ul class="nav-list">
                                <li class="nav-item nav-item-haslist">
                                    <a href="javascript:void(0)" class="nav-link">
                                        <span class="nav-text"><span>旅行家</span><b class="header-iconfont ico-arrow"></b></span>
                                    </a>
                                    <ul>
                                        <li class="nav-item ">
                                            <a href="http://lvyou.baidu.com/event/s/dream-travel/" class="nav-link" target="_blank">
                                                <span class="nav-text">梦想旅行家</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="/user/darentang" class="nav-link" target="_blank">
                                                <span class="nav-text">达人堂</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="/safari/" class="nav-link" target="_blank">
                                                <span class="nav-text">校园沙伐旅</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section id="full-column"></section>
        <section id="body">
            <header class="notes-view-header  " id="J-notes-view-header">
                <div class="notes-cover-pic active" id="J-notes-cover-pic">
                    <img alt="九寨沟" id="notes-cover-img" data-src="https://gss0.baidu.com/7LsWdDW5_xN3otqbppnN2DJv/lvpics/pic/item/e1fe9925bc315c606daf64c185b1cb13495477e1.jpg" width="1010" height="671" src="https://gss0.baidu.com/7LsWdDW5_xN3otqbppnN2DJv/lvpics/pic/item/e1fe9925bc315c606daf64c185b1cb13495477e1.jpg" style="width: 1349px; height: 896.217px; margin-left: -674.5px; margin-top: -448.108px;">
                </div>
                <div class="bg-mask"></div>
                <div class="main-center clearfix">
                    <div class="public-side-toolbar" id="J_public-side-toolbar">
                        <div class="side-toolbar-wrapper">
                            <div class="side-toolbar-bg clearfix">
                                <a href="javascript:void(0)" id="J-recommendWrap3" class="aside-btn side-recommend" title="推荐"><span class="common-recommend-btn"><span class="common-recommend-btn-l"><i class="globel-iconfont"></i></span><span class="common-recommend-btn-num"><em class="recommend-btn-count">260</em></span><span class="common-recommend-btn-r"></span><span class="common-recommend-btn-hover-tip" style="display: none;">推荐</span></span></a>
                                <a href="javascript:void(0)" id="J-favoriteWrap3" class="aside-btn side-favorite" title="收藏"><span class="common-favorite-btn"><span class="common-favorite-btn-l"><i class="notes-iconfont"></i></span><span class="common-favorite-btn-num"><em class="favorite-btn-count">248</em></span><span class="common-favorite-btn-r"></span><span class="common-favorite-btn-hover-tip" style="display: none;">收藏</span></span></a>
                                <a href="javascript:void(0)" class="aside-btn side-relay" title="评论" pb-id="lv4744321">
                                    <i class="notes-iconfont"></i>
                                    <span class="side-reply-btn reply nslog" data-nslog="{&quot;page&quot;:&quot;side&quot;,&quot;type&quot;:&quot;203&quot;,&quot;pos&quot;:&quot;notes-reply-side&quot;}" id="J_side-reply"><em class="aside-btn-count relay-btn-count">75</em><em class="aside-btn-title">评论</em></span>
                                </a>
                                <span class="aside-btn share-bar bdshare_t" pb-id="lv4756759" data="{&quot;text&quot;:&quot;刚看完一篇游记《藏地神韵---2016端午节黄龙九寨沟游记》，真是心驰神往啊，我也要去旅游！童鞋们快来围观！&quot;,&quot;pic&quot;:&quot;&quot;,&quot;url&quot;:&quot;http://lvyou.baidu.com/notes/c83d98bc2d0992ad52baf3cb?basic=1&amp;isshare=1&amp;sharefr=pc&quot;,&quot;desc&quot;:&quot;&quot;,&quot;comment&quot;:&quot;&quot;}">
                                    <i class="notes-iconfont"></i>
                                    <span class="side-share-btn">分享</span>
                                    <span class="share-content">
                                        <!--<div id="bdshare" class="bdshare_t bds_tools share-bar clearfix active" data="{&quot;text&quot;:&quot;刚看完一篇游记《藏地神韵---2016端午节黄龙九寨沟游记》，真是心驰神往啊，我也要去旅游！童鞋们快来围观！&quot;,&quot;pic&quot;:&quot;&quot;,&quot;url&quot;:&quot;http://lvyou.baidu.com/notes/c83d98bc2d0992ad52baf3cb?basic=1&amp;isshare=1&amp;sharefr=pc&quot;,&quot;desc&quot;:&quot;&quot;,&quot;comment&quot;:&quot;&quot;}" text":"\u521a\u770b\u5b8c\u4e00\u7bc7\u6e38\u8bb0\u300a\u85cf\u5730\u795e\u97f5---2016\u7aef\u5348\u8282\u9ec4\u9f99\u4e5d\u5be8\u6c9f\u6e38\u8bb0\u300b\uff0c\u771f\u662f\u5fc3\u9a70\u795e\u5f80\u554a\uff0c\u6211\u4e5f\u8981\u53bb\u65c5\u6e38\uff01\u7ae5\u978b\u4eec\u5feb\u6765\u56f4\u89c2\uff01","pic":"","url":"http:\="" \="" lvyou.baidu.com\="" notes\="" c83d98bc2d0992ad52baf3cb?basic="1&quot;,&quot;desc&quot;:null,&quot;comment&quot;:null}&quot;" xmlns="http://www.w3.org/1999/html">-->
                                        <span class="share-label">分享到:</span>
                                        <a class="share-webchat" href="#"></a>
                                        <a class="bds_tsina nslog" data-nslog="{'type':'203','page':'','cmd':'click','pos':'sina-share'}" href="#"></a>
                                        <a class="bds_tqq nslog" data-nslog="{'type':'203','page':'','cmd':'click','pos':'tqq-share'}" href="#"></a>
                                        <a class="bds_qzone nslog" data-nslog="{'type':'203','page':'','cmd':'click','pos':'qzone-share'}" href="#"></a>
                                        <a class="bds_renren nslog" data-nslog="{'type':'203','page':'','cmd':'click','pos':'renren-share'}" href="#"></a>
                                        <span class="bds_more"></span>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </section>
    </section>
</body>
</html>
